/node_modules
/public/build
/public/frontend/build
/public/hot
/public/fronted/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
