@use "sass:meta";

$slick-font-path: "slick-carousel/slick/fonts/" !default;

@function slick-font-url($url) {
   @return url($slick-font-path + $url);
}

@font-face {
   font-family: "slick";
   src: slick-font-url("slick.eot");
   src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
   font-weight: normal;
   font-style: normal;
}

.s48-cb-container,
.s48-cb-modal__container {
   @include meta.load-css('slick-carousel/slick/slick.scss');
   @include meta.load-css('./slick-theme.scss');
   @include meta.load-css('./slick-reset.scss');
   @include meta.load-css('./slick-custom.scss');
}
