{
    "parser": "babel-eslint",
    "plugins": [
        "preact"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:preact/recommended"
    ],
    "rules": {
        "react/jsx-indent-props": [2, 2],
        "indent": [2, 2],
        "react/prop-types": "off"
    },
    "env": {
        "browser": true
    }
}
